asgiref
attrs
beautifulsoup4
blinker
boto3
botocore
certifi
cffi
chardet
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssselect2
defusedxml
Django
django-allauth
django-crispy-forms
django-filter
django-rest-framework
django-widget-tweaks
djangorestframework
dnspython
et_xmlfile
Flask
google-auth
google-auth-oauthlib
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
MouseInfo
mysql-connector-python
mysqlclient
oauthlib
openpyxl
Pillow
psycopg2-binary
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
PyGetWindow
PyJWT
pymongo
PyMsgBox
pyperclip
python-dotenv
pypng
PyQRCode
PyRect
PyScreeze
python-dateutil
python-pdf
python3-openid
pytweening
pytz
pywhatkit
qrcode
razorpay
reportlab
requests
requests-oauthlib
rest-framework-simplejwt
rpds-py
rsa
s3transfer
six
soupsieve
sqlparse
tinycss2
tinyhtml5
typing_extensions
tzdata
uritemplate
urllib3
webencodings
Werkzeug
wikipedia
gunicorn
whitenoise

